@charset "utf-8";
/*清除浏览器默认内、外边距*/
* {
	padding:0;
	margin:0;
}
#test {
	border-radius:4px;
	margin-top:3px;
	margin-bottom:10px;
}
Div img{
	width:60px;
	height:40px;
	border-radius:4px;
	margin-left:5px;
	margin-right:20px;
	margin-bottom:5px;
}
/*半透明*/
.alpha{
	 filter:alpha(Opacity=60);
	 -moz-opacity:0.6;
	 opacity:0.6;
}