<meta http-equiv="Content-Type" content="text/html; charset=gb2312">

body {
	FONT-SIZE: 9pt;
	margin:0px;
	SCROLLBAR-FACE-COLOR: #dddddd; 
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-SHADOW-COLOR: #fcfcfc; COLOR: #000000;
	SCROLLBAR-3DLIGHT-COLOR: #eeeeee;
	SCROLLBAR-ARROW-COLOR: #ffffff;
	SCROLLBAR-TRACK-COLOR: #eeeeee;
	SCROLLBAR-DARKSHADOW-COLOR: #666666;
	BACKGROUND-COLOR: #4C94C1;

}
.1{
	width:448px;
	height:347px;
	margin-top:200px;
	margin-left:350px;
}
.2{
	margin-left:80px;
	margin-top:100px;

}
.3{
	margin-left:25px;
	margin-top:90px;

}
.4{
	margin-left:53px;
	margin-top:20px;

}
.5{
	margin-left:30px;
	margin-top:15px;

}

image{
	border-color:#999999;
}
td {
	font-size: 12pt;
	border:0.5;
	margin-left:30px;
}
a:link {color: blue}
a:hover {color: #000000}

.a1{
	font-size: 9pt;	text-decoration: none;	color: #FFFFFF;
}
.btn_grey {
	font-family: "ו";	font-size: 9pt;color: #ffffff;	
	background-color:#09F;cursor: hand;padding:1px;height:23px;
	width:50px;
	border-top: 1px solid #FFFFFF;border-right:1px solid #666666;
	border-bottom: 1px solid #666666;border-left: 1px solid #FFFFFF;
}

